/* outline: 5px solid rgba(0, 0, 255, 0.7);
outline-offset: -5px;

text-align: center;
vertical-align: middle;*/

:root {
    --index-bg1: #849D8F;
    --basic-underlay: rgba(255, 255, 255, 0.2);
    --basic-dark: #323232;
    --basic-white: #ffffff;
    --basic-click: #EDEDED;
    --basic-red: #D07058;
    --basic-light-red: #FFBC9E;
    --border-radius: 20px;
    --border-radius-click: 26px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}


body {
    min-width: 1200px;
    margin: 0;
    padding: 0 ;
    font-family: "Roboto", sans-serif;
    color: var(--basic-white);
    font-weight: 700;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

.menu-list,
.slider-list,
.banners-list,
.hit-list,
.about-list,
.social-list,
.footer-menu-list {
    list-style: none;
}



.container {
    width: 1146px;
    margin: 0 auto;
    margin-top: 40px;
}

.red-button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
}

.red-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
    border-radius: 70px;
}

.red-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
    border-radius: 70px;
}

.middle-button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
    border-radius: 26px;
}

.middle-button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px #AC1000;
    border-radius: 26px;
}

.middle-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
    border-radius: 26px;
}



/* MAIN PAGE */

/* HEADER */
.site-wrapper-1 {
    background-color: var(--index-bg1);
}

.site-wrapper-2 {
    background-color: #8996A6;
}

.site-wrapper-3 {
    background-color: #9D8B84;
} 

.main-header {
    margin-top: 9px;
    position: relative;
    z-index: 1;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-links {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    width: 535px;
    display: flex;
}

.main-header-logo {
    margin-right: 11px;
    height: 64px;
}

.main-header-logo img {
    width: 154px;
    height: 64px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    margin: 0;
    padding: 0;
}

.menu-list a {
    padding: 6px 13px;
}    


.menu-list li:last-child {
    margin-right: 0;
}

.menu-list span {
    border-bottom: 1px solid var(--basic-underlay);
}

.menu-list a:hover {
    background: var(--basic-white);
    border-radius: var(--border-radius-click);
    border-bottom: none;
    
    color: var(--basic-dark);
}

.active a{
    background-color: var(--basic-red);
    border-radius: var(--border-radius-click);
}

.active span{
    border-bottom: none;
}

.user-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 244px;
}

.user-navigation-item a {
    display: flex;
}

.user-navigation a {
    margin-right: 10px;
    
    background: var(--basic-underlay);
    border-radius: var(--border-radius);
}

.user-navigation a:last-child {
    margin-right: 0;
}

.user-navigation img {
    width: 20px;
    height: 19px;
}

.user-navigation p {
    padding: 0;
    margin: 0;
    margin-left: 8px;
}

.header-worktime,
.header-phone {
    margin: 0;
    padding: 0;
}

.header-worktime  {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: end;
}

.header-phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-align: end;
    margin-top: 8px;
}

/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.lightening {
    position: absolute;
    top: -120px;
    width: 716px;
    height: 716px;
    margin: 0 auto;
}

.site-wrapper-2 .lightening {
    background: rgba(215, 242, 227, 0.75);
    filter: blur(125px);
}

.site-wrapper-2 .lightening {
    background: rgba(218, 228, 239, 0.75);
    filter: blur(125px);
}

.site-wrapper-3 .lightening {
    background: rgba(239, 224, 218, 0.75);
    filter: blur(125px);
}

.slider-list {
    padding: 0;
    margin: 0;
}



.slider-item {
    padding-top: 285px;
}

.slide {
    display: none;
}

.slide-current {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 672px;
}


.slider img {
    width: 647px;
    height: 584px;

    position: absolute;
    top: -35px;

    opacity: 1;
}

.slider-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 27px;
    width: 700px;

    z-index: 1;
}

.special-button {

    padding: 9px 23px;
    margin-bottom: 40px;

    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.slider-controls {
    position: absolute;
    bottom: 60px;
}

.btn-slide {
    padding: 0;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.btn-slide-active {
    background-color: var(--basic-white);
}

/* BANNERS */

.banners {
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

.banners-list {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    font-weight: 700;
}

.banner-item {
    width: 560px;
    padding: 16px 22px 22px 16px;

    border-radius: 30px;
}

.banner-item:first-of-type {
    background-color: #af113e;
    background-image: url('../img/rasberry_background.jpg');
    background-repeat: no-repeat;
}

.banner-item:last-of-type {
    background-color: #583322;
    background-image: url('../img/choko_background.jpg');
    background-repeat: no-repeat;
}

.banners h3,
.banners p {
    margin: 0;
    padding: 0;
}


.banners h3 {
    font-size: 35px;
    line-height: 41px;
}

.banners p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}

.button-wrapper {
    display: flex;
    justify-content: end;

    margin-top: 42px;
}

.banner-button {
    padding: 15px 22px;
}

/* HITS */
.hits {
    /*position: relative;*/
}

.hit-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.hit-item {
    position: relative;
    width: 267px;

    margin-bottom: 40px;
}

.img-hit {
    position: absolute;
}

.hit-price {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 216px;

    font-size: 45px;
    line-height: 45px;

    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-item span {
    font-size: 30px;
    line-height: 35px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/*.hit-wrap:hover,
.hit-wrap:focus,
.hit-wrap:active {
    color: var(--basic-light-red);
}*/

.hit-wrap p {
    margin: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;

    /*border: 1px solid rgba(255, 255, 255, 0.2)*/
}


/* ABOUT */
.about {
    border-radius: 16px;
    background-image: url(../img/pattern.png);

    color: var(--basic-dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    padding: 24px 23px 17px 20px;
    margin-top: 0px;
}

.about-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
}

.about-item {
    width: 537px;
    margin: 0;
    margin-bottom: 19px;
    padding: 0;

    display: flex;
}

.about h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    margin-bottom: 7px;
}

.about p {
    margin: 0;
    margin-top: 14px;
    margin-left: 6px;
}

.about-item img {
    width: 49px;
    height: 49px;
}

/* BLOG */
.blog {
    display: flex;
    justify-content: space-between;

}

.blog article {
    width: 560px;
    border-radius: 16px;
}


.news {
    color: var(--basic-dark);
    padding-top: 23px;
    padding-left: 20px;

    background-color: var(--basic-white);
    background-image: url(../img/strawberry_background.jpg);
    background-repeat: no-repeat;
}

.news p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    margin: 0;
    margin-bottom: 15px;
}

.news h2 {
    font-size: 24px;
    line-height: 30px;
    width: 287px;

    margin: 0;
}

.news-title a {
    color: var(--basic-dark);
    text-decoration: underline;
}

.news-title a:hover,
.news-title a:focus,
.news-title a:active {
    color: var(--basic-light-red);
}

.mailing {
    background-color: var(--basic-white);
    background-image: url(../img/mail_background.png);
    background-repeat: no-repeat;

    padding: 5px;
}

.mail-wrapper {
    background-color: #F8F7F4;
    border-radius: 16px;
    height: 100%;

    padding: 25px 16px 28px 20px;
}

.mail-wrapper p {
    margin: 0;
    margin-bottom: 47px;
    padding: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5A5A5A;
}

.mail-wrapper input {
    padding: 9px 14px;
    width: 368px;
    margin-right: 10px;

    background: var(--basic-white);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 6px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    
    color: #999999;
}

.mail-wrapper button {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    border: none;
    padding: 10px 17px;
    
    color: #FFFFFF;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* MAP */
.map {
    width: 1200px;
    position: relative;
}

.map-wrapper {
    background-color: #f7f1d9;
}
    
.map-wrapper img {
    width: 1200px;
    height: 430px;
}

.map-wrapper span {
    display: block;
    width: 218px;
    height: 140px;
    
    background-image: url('../img/map_pin.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

    position: absolute;
    top: 136px;
    left: 266px;
}

.map-info {
    width: 303px;
    vertical-align: middle;
    padding: 30px 25px;

    position: absolute;
    top: 62px;
    right: 27px;

    background: var(--basic-white);
    border-radius: 16px;

    color: var(--basic-dark);
}

.map-info p {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.map-info h4 {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.map-info h4:first-of-type {
    margin-top: 5px;
    margin-bottom: 30px;
}

.map-info h4:last-of-type {
    margin-top: 8px;
    margin-bottom: 5px;
}

.feedback-button {
    display: block;
    padding: 10px 28px;
    margin-top: 30px;

    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

/* FOOTER */
.main-footer {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 25px;
}


.social-list {
    display: flex;
    justify-content: space-between;
    width: 164px;
    margin: 0;
    margin-top: 18px;
    padding: 0;
}

.footer-menu {
    display: flex;

    width: 327px;
    
}

.footer-menu img {
    width: 15px;
    margin-right: 7px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin-top: 18px;
    margin-bottom: 5px;
}

.footer-menu-list li {
    width: 162px;
}

.footer-menu-list li:nth-child(odd) {
    width: 112px;
}

.footer-menu-list a {
    border-bottom: 1px solid var(--basic-underlay);
}

.footer-menu-list li:first-of-type {
    font-weight: 700;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
    color: var(--basic-light-red);

    border-bottom-color: rgba(255, 188, 158, .3);
}

.footer-copyright {
    width: 190px;
    display: flex;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}


/* CATALOG PAGE*/ 
.catalog {
    margin-top: 0;
    position: relative;
}

.breadcrumbs,
.pagination-list,
.fat-list,
.filler-list {
    list-style: none;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    position: absolute;
    top: -20px;
    z-index: 1;
}

.breadcrumbs a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li::after {
    content: "»";
    margin-right: 8px;
    margin-left: 8px;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: var(--basic-light-red);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;

    margin: 0;
    margin-bottom: 29px;
    padding: 0;
}

/* FILTERS */
.filters {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    width: 869px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-item {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    border: none;
}

.filter-group {
    width: 196px;
}

.filter-price {
    width: 218px;
}

.filter-fat {
    width: 425px;
}

.filter-fillers {
    width: 711px;
}

.filter-group-warpper,
fieldset ul,
.range-controls {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height: 36px
}

fieldset legend,
.price-controls {
    margin-bottom: 7px;
}

fieldset ul {
    margin: 0;
    padding: 0;
}

/* FILTER GROUP */
fieldset select {
    border: none;
    width: 196px;
    appearance: none;

    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 18px;
    color: inherit;
    vertical-align: middle;

    padding: 10px 16px;
    background-color: transparent;
    cursor: pointer;
}

.filter-group-warpper {
    position: relative;
    vertical-align: middle;
}

.filter-group-warpper::before {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url(../img/filter_arrow.svg);
    position: absolute;
    bottom: 13px;
    right: 13px;
}

fieldset select:hover,
fieldset select:focus {
    color: #323232;

    outline: none;
}

/* FILTER PRICE */

.price-controls input {
    font-size: inherit;

    width: 30px;
    margin: 0;
    padding: 0;

    border: none;
    background: none;

    color: inherit;
    text-align: right;
}

.range-controls {
    padding-top: 18px;
    padding-left: 21px;
    padding-right: 21px;

    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
    height: 2px;
    
    background: #F8F7F4;

    position: absolute;
}

.range-controls .toggle {
    box-sizing: content-box;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: #ABABAB;
    border-radius: 50%;

    position: absolute;
    top: 8px;
}

/* FILTER FAT */ 
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.fat-list {
    display: flex;
    justify-content: space-between;

    padding: 10px 17px 10px 36px;
}

.fat-list label {
    padding-left: 11px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -3px;

    width: 22px;
    height: 22px;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
    border: 4px solid var(--basic-white);
}

.filter-input-radio:disabled + label::before {
    border: 4px solid rgba(255, 255, 255, .4);
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 4px;

    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
    background-color: var(--basic-white);
}

.filter-input-radio:checked:disabled + label::after {
    background-color: rgba(255, 255, 255, .4);
}

/* FILTER FILLER */

.filler-list {
    display: flex;
    justify-content: space-between;
    
    padding: 10px 17px 10px 36px;
}

.filler-list label {
    padding-left: 13px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -3px;

    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    border: 2px solid var(--basic-white);
}

.filter-input-checkbox:disabled + label::before {
    border: 2px solid rgba(255, 255, 255, .4);
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -22px;
    top: -3px;

    width: 22px;
    height: 20px;
    background-image: url(../img/filter_checkbox.svg);
    opacity: 0.8;
}
.filter-input-checkbox:checked + label:before {
    display: none;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
    opacity: 1;
}

.filter-input-checkbox:checked:disabled + label::after {
    opacity: 0.4;
}

/* FILTER BUTTON */

form button {
    display: inline-block;
    margin: auto 0;
    margin-bottom: 14px;
    padding: 9px 29px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    color: var(--basic-white);

    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

form button:hover,
form button:focus {
    background: var(--basic-white);
    color: var(--basic-dark);
}

form button:active {
    background: var(--basic-white);
    color: var(--basic-dark);
    box-shadow: inset 0px 2px 1px #696969;
}

/* CATALOG */

.catalog .hits {
    margin-top: 26px;
}


/* PAGINATION */

.pagination {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-list {
    margin: 0;
    margin-top: 40px;
    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.pagination-item a {
    display: block;
    width: 26px;
    height: 26px;
    padding: 5px;
    
    text-align: center;
}

.pagination-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.pagination-item-current {
    background-color: var(--basic-white);
    border-radius: 20px;
}

.pagination-item-current a {
    color: var(--basic-dark);
}
