:root {
    --index-bg1: #849D8F;
    --basic-underlay: rgba(255, 255, 255, 0.2);
    --basic-dark: #323232;
    --basic-white: #ffffff;
    --basic-click: #EDEDED;
    --basic-red: #D07058;
    --basic-light-red: #FFBC9E;
    --border-radius: 20px;
    --border-radius-click: 26px;
    --basic-blue-border: rgba(46, 136, 228, 0.52);
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0 ;
    font-family: "Roboto", sans-serif;
    color: var(--basic-white);
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--basic-white);
}

img {
    max-width: 100%;
    height: auto;
}

.menu-list,
.sub-menu,
.slider-list,
.banners-list,
.hit-list,
.about-list,
.social-list,
.footer-menu-list {
    list-style: none;
}

.container {
    width: 1146px;
    margin: 0 auto;
    margin-top: 40px;
}

/* BUTTONS */

.red-button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    cursor: pointer;
}

.red-button:hover,
.red-button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px #AC1000;
    border-radius: 70px;
}

.red-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
    border-radius: 70px;
}

.middle-button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
    border-radius: 26px;
    border: none;
    cursor: pointer;
}

.middle-button:hover,
.middle-button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px #AC1000;
    border-radius: 26px;
    color: var(--basic-white);
}

.middle-button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: inset 0px 2px 2px #942718;
    border-radius: 26px;
    color: var(--basic-white);
}

.page-body input,
.page-body textarea {
    box-sizing: border-box;

    background: var(--basic-white);
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 4px;
}

.page-body input:hover,
.page-body textarea:hover {
    outline: 1px solid rgba(178, 178, 178, 0.52);
}

.page-body input:focus,
.page-body textarea:focus,
.page-body input:active,
.page-body textarea:active {
    outline: 2px solid var(--basic-blue-border);
}

.page-body input::placeholder, 
.page-body textarea::placeholder {
    font: inherit;
    font-weight: 400;
    color: #999999;
}

/* MAIN PAGE */

/* HEADER */
.site-wrapper-1 {
    background-color: var(--index-bg1);
}

.site-wrapper-2 {
    background-color: #8996A6;
}

.site-wrapper-3 {
    background-color: #9D8B84;
} 

.main-header {
    margin-top: 9px;
    position: relative;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-links {
    font-size: 16px;
    line-height: 18px;

    width: 700px;
    display: flex;
}

.navigation-links a:focus-visible {
    background: var(--basic-underlay);
}

.main-header-logo {
    margin-right: 11px;
    height: 64px;
}

.main-header-logo img {
    width: 154px;
    height: 64px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.menu-link > a {
    padding: 6px 13px;
    margin-right: 7px;
}    

.menu-list li:last-child {
    margin-right: 0;
}

.menu-list span {
    border-bottom: 1px solid var(--basic-underlay);
}

.menu-link > a:hover,
.menu-link > a:focus {
    background: var(--basic-white);
    border-radius: var(--border-radius-click);
    border-bottom: none;
    
    color: var(--basic-dark);
}

.active > a {
    background-color: var(--basic-red);
    border-radius: var(--border-radius-click);
}

.active span {
    border-bottom: none;
}

/* SUB MENU */

.menu-link{
    position: relative;
}

.sub-menu {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: -8px;
    z-index: 2;
    opacity: 0;

    background-color: var(--basic-white);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;

    width: 143px;
    padding: 0;
    margin: 0;
}

.sub-menu a {
    color: var(--basic-dark);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    display: block;
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
}

.new-items a {
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.menu-link:hover .sub-menu,
.menu-link:focus-within .sub-menu,
.sub-menu:hover,
.sub-menu a:hover + .sub-menu
 {
    visibility: visible;
    opacity: 1;
}

.menu-link a::after,
.user-menu-item::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;

    width: 100%;
    height: 20px;
}

.sub-menu a:hover,
.sub-menu a:focus {
    color: var(--basic-dark);

    background-color: #fbded7;
}

.sub-menu a:active {
    color: var(--basic-dark);

    background-color: #f6b5a5;
}

.sub-menu-active {
    background-color: var(--basic-red);
}

.sub-menu-active a {
    color: var(--basic-white);
}

/* USER  NAVIGATION */

.user-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 350px;
}

.user-navigation-item > a {
    display: flex;
    padding: 6px 16px;

    margin-right: 10px;
    
    background: var(--basic-underlay);
    border-radius: var(--border-radius);
}

.user-navigation-item .user-search {
    padding: 8px;
}

.user-navigation-item:last-of-type > a {
    margin-right: 0;
}

.user-navigation-item .user-cart_fill {
    position: relative;

    background-color: var(--basic-white);

    color: var(--basic-dark);
}

.user-cart_fill path {
    fill: var(--basic-dark);
}

.user-cart_fill::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 21px;
    width: 13px;
    height: 9px;

    background-image: url(../img/cart_fill.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.user-navigation p {
    padding: 0;
    margin: 0;
    margin-left: 8px;
}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
    background-color: var(--basic-white);
    color: var(--basic-dark);
}

.user-navigation-item > a:hover path,
.user-navigation-item > a:focus path {
    fill: var(--basic-dark);
}

/* WORKTIME */

.header-worktime,
.header-phone {
    margin: 0;
    padding: 0;
}

.header-worktime  {
    font-size: 14px;
    line-height: 16px;
    text-align: end;

    margin-top: 2px;
}

.header-phone {
    font-size: 22px;
    line-height: 24px;

    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.header-phone:hover,
.header-phone:focus {
    color: var(--basic-light-red);
}

/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.lightening {
    position: absolute;
    z-index: -1;
    top: -120px;
    width: 716px;
    height: 716px;
    margin: 0 auto;
}

.site-wrapper-1 .lightening {
    background: rgba(215, 242, 227, 0.75);
    filter: blur(125px);
}

.site-wrapper-2 .lightening {
    background: rgba(218, 228, 239, 0.75);
    filter: blur(125px);
}

.site-wrapper-3 .lightening {
    background: rgba(239, 224, 218, 0.75);
    filter: blur(125px);
}

.slider-list {
    padding: 0;
    margin: 0;
}

.slider-item {
    padding-top: 275px;
}

.slide {
    display: none;
}

.slide-current {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 672px;
}

.slider img {
    width: 647px;
    height: 584px;

    position: absolute;
    top: -40px;

    opacity: 1;
}

.slider-title {
    font-size: 60px;
    line-height: 60px;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 27px;
    width: 700px;

    z-index: 1;
}

.special-button {
    padding: 9px 23px;
    margin-bottom: 40px;
    margin-right: 15px;

    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.slider-controls {
    position: absolute;
    bottom: 60px;
}

.btn-slide {
    padding: 0;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.btn-slide:hover,
.btn-slide:focus {
    background: var(--basic-underlay);
}

.btn-slide-active {
    background-color: var(--basic-white);
}

/* BANNERS */

.banners {
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

.banners-list {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    font-weight: 700;
}

.banner-item {
    width: 560px;
    padding: 16px 22px 22px 16px;

    border-radius: 16px;
}

.banner-item:first-of-type {
    background-color: #af113e;
    background-image: url('../img/rasberry_background.jpg');
    background-repeat: no-repeat;
}

.banner-item:last-of-type {
    background-color: #583322;
    background-image: url('../img/choko_background.jpg');
    background-repeat: no-repeat;
}

.banners h3,
.banners p {
    margin: 0;
    padding: 0;
}

.banners h3 {
    font-size: 35px;
    line-height: 41px;
}

.banners p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
}

.button-wrapper {
    display: flex;
    justify-content: end;

    margin-top: 42px;
}

.banner-button {
    padding: 15px 22px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    letter-spacing: 0.05em;
}

/* HITS */

.hit-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.hit-item {
    position: relative;
    width: 267px;

    margin-bottom: 40px;

    overflow: hidden;
}

.hover-hit-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: -12px;

    box-sizing: content-box;
    width: 100%;
    min-height: 405px;
    padding: 5px 12px 20px;
}

.hit-button {
    font-size: 18px;
    line-height: 24px;
    color: inherit;

    padding: 12px 16px;
    margin-top: 11px;
    margin-bottom: 21px;

    z-index: 20;
    visibility: hidden;
}

.hit-item:hover .hit-button {
    visibility: visible;
}

.hit-item:hover {
    overflow: visible;
}

.hit-item:hover .hover-hit-wrap {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.hit-item:hover .hit-wrap {
    position: relative;
    z-index: 2;
}

.img-hit {
    position: absolute;
    z-index: 1;
}

.hit-price {
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 208px;

    font-size: 45px;
    line-height: 45px;

    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-item span {
    font-size: 30px;
    line-height: 35px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-wrap p:hover,
.hit-wrap:focus-within p,
.hit-wrap p:active {
    color: var(--basic-light-red);
}

.hit-wrap p {
    margin: 0;
    margin-top: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
}


/* ABOUT */
.about {
    border-radius: 16px;
    background-image: url(../img/pattern.png);

    color: var(--basic-dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    padding: 24px 23px 17px 20px;
    margin-top: 0px;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-top: 8px;
}

.about-item {
    width: 537px;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;

    display: flex;
}

.about h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    margin: 0;
}

.about p {
    margin: 0;
    margin-top: 8px;
    margin-left: 6px;
}

.about-item img {
    width: 49px;
    height: 49px;
}

/* BLOG */

.blog {
    display: flex;
    justify-content: space-between;
}

.blog article {
    width: 560px;
    border-radius: 16px;
}

.news {
    color: var(--basic-dark);

    padding-top: 17px;
    padding-left: 20px;

    background-color: var(--basic-white);
    background-image: url(../img/strawberry_background.jpg);
    background-repeat: no-repeat;
}

.news p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    margin: 0;
    margin-bottom: 3px;
}

.news h2 {
    font-size: 24px;
    line-height: 30px;
    width: 287px;

    margin: 0;
}

.news-title a {
    color: var(--basic-dark);
    text-decoration: underline;
}

.news-title a:hover,
.news-title a:focus,
.news-title a:active {
    color: var(--basic-light-red);
}

.mailing {
    background-color: var(--basic-white);
    background-image: url(../img/mail_background.png);
    background-repeat: no-repeat;

    padding: 5px;
}

.mail-wrapper {
    background-color: #F8F7F4;
    border-radius: 16px;
    height: 100%;

    padding: 23px 17px 34px 21px;
}

.mail-wrapper p {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #5A5A5A;
}

.mail-wrapper input {
    padding: 9px 14px;
    width: 368px;
    margin-right: 6px;

    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 6px;

    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.mail-wrapper button {
    font-size: 18px;
    line-height: 24px;

    border: none;
    padding: 10px 17px;
    
    color: var(--basic-white);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* MAP */

.map {
    width: 100%;
    position: relative;
}

.map-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    
    width: 1200px;
    margin: 0 auto;
    
    background-color: #f7f1d9;
}
    
.map-wrapper img {
    display: block;
    width: 1200px;
    height: 430px;
}

.map-wrapper span {
    display: block;
    width: 218px;
    height: 140px;
    
    background-image: url('../img/map_pin.svg');
    background-repeat: no-repeat;
    background-position: 0 0;

    position: absolute;
    top: 136px;
    left: 266px;
}

.map-info {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.map-info-wrapper {
    width: 303px;
    vertical-align: middle;
    padding: 30px 25px;

    position: absolute;
    z-index: 3;
    top: -368px;
    right: 27px;

    background: var(--basic-white);
    border-radius: 16px;

    color: var(--basic-dark);
}

.map-info-wrapper p {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.map-info-wrapper h4 {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
}

.map-info-wrapper h4:first-of-type {
    margin-bottom: 20px;
}

.map-info-wrapper h4:last-of-type {
    margin-top: 5px;
}

.feedback-button {
    display: block;
    padding: 10px 28px;
    margin-top: 25px;

    font-size: 18px;
    line-height: 24px;
}

/* FOOTER */
.main-footer {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 13px;
    line-height: 18px;

    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 25px;
}

.social-list {
    display: flex;
    justify-content: space-between;

    width: 164px;
    margin: 0;
    margin-top: 18px;
    padding: 0;
}

.social-list svg {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-list svg:hover path {
    fill-opacity: 1;
}

.social-list a:focus-visible svg{
    border: 2px solid rgba(46, 136, 228, 0.52);
}
 
.social-list svg:active {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.social-list svg:active path {
    fill-opacity: 1;
}

.footer-menu {
    display: flex;

    width: 327px;
}

.footer-menu img {
    width: 15px;
    margin: 0 5px 10px 5px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin-top: 18px;
    margin-bottom: 5px;
}

.footer-menu-list li {
    width: 162px;
}

.footer-menu-list li:nth-child(odd) {
    width: 112px;
}

.footer-menu-list a {
    border-bottom: 1px solid var(--basic-underlay);
}

.footer-menu-list li:first-of-type {
    font-weight: 700;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
    color: var(--basic-light-red);

    border-bottom-color: rgba(255, 188, 158, .3);
}

.footer-copyright {
    width: 190px;
    display: flex;
    flex-wrap: wrap;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright a:focus-visible {
    background-color: var(--basic-underlay);
}

/* CATALOG PAGE*/ 

.catalog {
    margin-top: 0;
    position: relative;
}

.breadcrumbs,
.pagination-list,
.fat-list,
.filler-list {
    list-style: none;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    position: absolute;
    top: -24px;
    z-index: 0;
}

.breadcrumbs a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li::after {
    content: "»";
    margin-right: 8px;
    margin-left: 8px;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: var(--basic-light-red);
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

/* FILTERS */
.filters {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    width: 869px;
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-item {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    border: none;
}

.filter-group {
    width: 196px;
}

.filter-price {
    width: 218px;
}

.filter-fat {
    width: 425px;
}

.filter-fillers {
    width: 711px;
}

.filter-group-wrapper,
fieldset ul,
.range-controls {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    height: 36px
}

fieldset legend {
    margin-bottom: 7px;
    margin-left: 14px;
}

.price-controls {
    margin-bottom: 7px;
    margin-left: 16px;
}

fieldset ul {
    margin: 0;
    padding: 0;
}

/* FILTER GROUP */
fieldset select {
    border: none;
    width: 196px;
    padding: 9px 16px;

    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 18px;
    color: inherit;
    vertical-align: middle;

    background-color: transparent;
    cursor: pointer;
    appearance: none;
}

.filter-group-wrapper {
    position: relative;
    vertical-align: middle;
}

.filter-group-wrapper::before {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url(../img/filter_arrow_white.svg);
    position: absolute;
    bottom: 12px;
    right: 13px;
}

fieldset select:hover,
fieldset select:focus {
    color: var(--basic-dark);
    outline: none;
}

/* FILTER PRICE */

.price-controls input {
    font-size: inherit;
    letter-spacing: 0.2em;

    width: 30px;
    margin: 0;
    padding: 0;

    border: none;
    background: none;

    color: inherit;
    text-align: right;
}

.range-controls {
    padding-top: 18px;
    padding-left: 21px;
    padding-right: 21px;

    position: relative;
}

.range-controls .scale {
    height: 2px;
    background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
    height: 2px;
    
    background: #F8F7F4;

    position: absolute;
}

.range-controls .toggle {
    box-sizing: content-box;
    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid var(--basic-white);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
    background-color: #ABABAB;
    border-radius: 50%;

    position: absolute;
    top: 8px;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
    border-width: 10px;
    cursor: pointer;
}

/* FILTER FAT */ 
.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.fat-list {
    display: flex;
    justify-content: space-between;

    padding: 10px 18px 10px 36px;
}

.fat-list label {
    padding-left: 11px;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -3px;

    width: 22px;
    height: 22px;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
    border: 4px solid var(--basic-white);
}

.filter-input-radio:disabled + label::before {
    border: 4px solid rgba(255, 255, 255, .4);
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -15px;
    top: 4px;

    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
    background-color: var(--basic-white);
}

.filter-input-radio:checked:disabled + label::after {
    background-color: rgba(255, 255, 255, .4);
}

/*специальные стили для фокуса с клавиатуры */
.filter-input-radio:focus-visible + label::before {
    outline: 2px solid var(--basic-blue-border);
}

.filter-input-radio:checked:focus-visible + label::after {
    outline: 2px solid var(--basic-blue-border);
}

.filter-input-radio:checked:disabled:focus-visible+label::after {
    outline: 2px solid var(--basic-blue-border);
}

/* FILTER FILLER */

.filler-list {
    display: flex;
    justify-content: space-between;
    
    padding: 10px 17px 10px 36px;
}

.filler-list label {
    padding-left: 13px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -3px;

    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    border: 2px solid var(--basic-white);
}

.filter-input-checkbox:disabled + label::before {
    border: 2px solid rgba(255, 255, 255, .4);
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -22px;
    top: -3px;

    width: 22px;
    height: 20px;
    background-image: url(../img/filter_checkbox.svg);
    opacity: 0.8;
}

.filter-input-checkbox:checked + label:before {
    display: none;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
    opacity: 1;
}

.filter-input-checkbox:checked:disabled + label::after {
    opacity: 0.4;
}

/*специальные стили для фокуса с клавиатуры */
.filter-input-checkbox:focus-visible + label::before {
    outline: 2px solid var(--basic-blue-border);
}

.filter-input-checkbox:checked:focus-visible + label::after {
    outline: 2px solid var(--basic-blue-border);
}

.filter-input-checkbox:checked:disabled:focus-visible + label::after {
    outline: 2px solid var(--basic-blue-border);
}

/* FILTER BUTTON */

.filters button {
    display: inline-block;
    margin: auto 0;
    margin-bottom: 14px;
    padding: 7px 28px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: inherit;
    color: var(--basic-white);

    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.filters button:hover,
.filters button:focus {
    background: var(--basic-white);
    color: var(--basic-dark);
}

.filters button:active {
    background: var(--basic-white);
    color: var(--basic-dark);
    box-shadow: inset 0px 2px 1px #696969;
}

/* CATALOG */

.catalog .hits {
    margin-top: 26px;
}

.catalog .hit-item {
    margin-bottom: 37px;
}

/* PAGINATION */

.pagination {
    padding-bottom: 30px;
    margin-top: 40px;

    display: flex;
    justify-content: flex-end;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-arrow {
    display: block;
    width: 7px;
    height: 12px;
    margin: 0;
    padding: 5px 9px;
}

.pagination-arrow:hover path,
.pagination-arrow:focus path {
    fill: var(--basic-dark);
    fill-opacity: 1;

}

.pagination-prev {
    margin-right: 10px;
}

.pagination-next {
    margin-left: 6px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.pagination-item {
    margin-left: 2px;
}

.pagination-item a {
    display: block;
    width: 28px;
    height: 26px;
    padding: 5px;
    
    text-align: center;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-item-current:hover,
.pagination-item-current:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.pagination-item-current {
    background-color: var(--basic-white);
    border-radius: 50%;
}

.pagination-item-current a {
    color: var(--basic-dark);
}

/* MODAL */

/*HEADER MODAL*/

.user-navigation-item {
    position: relative;
}

.header-modal {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 35px;
    right: 10px;
    
    color: var(--basic-black);
    
    background: #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    
    padding-top: 20px;
}

.user-navigation-item:hover > .header-modal,
.user-navigation-item:focus-within > .header-modal {
    visibility: visible;
    opacity: 1;
}

.user-navigation a::after {
    position: absolute;
    bottom: -15px;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';
}

.header-modal input {
    width: 100%;
    padding: 13px 15px;

    border: 1px solid #D3D3D2;
}

/* MODAL SEARCH*/

.modal-search {
    width: 341px;
    padding: 20px 15px;
}

/*LOGIN MODAL*/

.modal-login {
    width: 277px;
    padding: 20px 18px;
}

.login-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.login-info {
    display: flex;
    justify-content: space-between;
}

.login-info button {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
    border-radius: 26px;
    color: var(--basic-white);
    margin: 0;

    font-size: 18px;
    line-height: 16px;
    padding: 14px 25px;
    border: none;
}

.restore {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.restore a {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--basic-dark);
    padding: 0;
    text-decoration: underline;
    text-decoration-color: rgba(50, 50, 50, 0.3);
}

.restore a:hover,
.restore a:focus,
.restore a:active {
    color: #E84D37;;
    text-decoration-color: rgba(232, 77, 55, 0.3);
}

.modal-login input {
    margin-bottom: 20px;
}

/* MODAL CART */

.modal-cart {
    width: 539px;
    padding: 17px 15px 22px 20px;
    right: 0;
}

.cart-table {
    width: 100%;

    border-bottom: 1px solid #CACAC7;
    margin-bottom: 20px;
}

.cart-table-row td,
.cart-table a {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--basic-dark);
}

.cart-table-row td {
    padding: 0;
}

.cart-close {
    width: 11px;
    height: 11px;
    padding: 0;
    margin-right: 9px;

    border: none;
    background-color: transparent;
}

.cart-close:hover path,
.cart-close:focus path {
    fill: red;
    cursor: pointer;
}

.cart-table a:hover,
.cart-table a:focus {
    text-decoration: underline;
}

.cart-table-row {
    padding: 0;
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

.cart-img {
    margin-right: 12px;
}

.cart-product-name {
    width: 248px;
}

.cart-description {
    width: 111px;
}

.product-total-price {
    width: 70px;
    text-align: center;
 }

.cart-price {
     color: #ABABAB;
 }

.cart-total {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: var(--basic-dark);

    display: flex;
    justify-content: flex-end;
 }

.cart-button {
    color: var(--basic-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    padding: 13px 14px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
 }

 /* MODAL JS*/

 @keyframes bounce {
    0% {transform: translateY(-2000px); }

    70% {transform: translateY(30px); }

    90% {transform: translateY(-10px);}

    100% {transform: translateY(0);}
}

@keyframes snake {

    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    visibility: hidden;

    background: #F8F7F4;
    border-radius: 6px;
    background: #F8F7F4;
}

.modal-show {
    visibility: visible;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-error {
    animation-name: snake;
    animation-duration: 0.6s;
}

.modal-feedback {
    width: 477px;

    position: fixed;
    z-index: 1000;

    top: 120px;
    left: 0;
    bottom: auto;

    color: var(--basic-dark);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    padding: 14px 24px 27px;
 }

.feedback-list {
    list-style: none;
    margin-top: 23px;
    margin-bottom: 20px;
    padding: 0;
 }

.modal-feedback-description {
    align-items: center;

    margin: 0;
 }

.feedback-list input::placeholder,
.feedback-list textarea::placeholder {
    font-size: 16px;
    line-height: 20px;
 }

.feedback-list input {
    width: 267px;
    padding: 16px 14px 10px 14px;
    margin-bottom: 20px;
} 

.feedback-list textarea {
    width: 100%;
    padding: 10px 14px 20px;
}

.modal-feedback-button {
    padding: 10px 21px;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);

    display: block;
    margin-left: auto;
    margin-bottom: 0;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 17px;
    width: 18px;
    height: 18px;

    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 2px;

    background-color: #231F20;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

/* MODAL MAP */
#map {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 430px;

    z-index: 2;
}

#map > div:nth-of-type(2) {
    display: none;
}

/* OVERLAY */

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    visibility: hidden;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);
}

.overlay-show {
    visibility: visible;
}